@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>Projeto realizado com o intuito de resolver o problema comum enfrentado por usuários de legendas SubRip, a falta de sincronismo entre o áudio e os timecodes.</p>
