@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Nome:</strong> Daniel Andrade Morais<br />
    <strong>Email:</strong> <a href="mailto:damdrade.morais@gmail.com">damdrade.morais@gmail.com</a>
</address>